:root {
  font-size: 16px;
}

body {
  background-color: #3c3c3c;
  height: 90vh;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 1%;
}

a {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

#page1 {
  background-color: rgba(0, 0, 255, 0.5);
  width: 40%;
  height: 90%;
}

#page2 {
  background-color: rgba(255, 20, 15, 0.5);
  width: 40%;
  height: 90%;
}
