/*Mobile portrait*/

@media only screen and (max-width: 576px) and (orientation: portrait) {
    main{
        flex-direction: column;
        justify-content: space-between;
    }

    a{
        font-size: 2rem;
    }

    #page1{
        height: 40%;
        width: 60%;
    }

    #page2{
        height: 40%;
        width: 60%;
    }

}

/*Mobile Landscape*/

@media only screen and (min-width: 576px) and (orientation: landscape) {
    a{
      font-size: 2.5rem;
    }
}

/*Tablet portrait*/

@media only screen and (min-width: 768px) and (orientation: portrait) {
    main{
        flex-direction: column;
        justify-content: space-between;
    }

    a{
        font-size: 3rem;
    }

    #page1{
        height: 40%;
    }

    #page2{
        height: 40%;
    }
}

/* Tablet landscape */

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    a{
        font-size: 4rem;
    }
}
