* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --shadow-color: rgba(0, 0, 0, 0.2);
  --focus-color: #6200ea;
  --placeholder-color: #616161;
  --error-color:red;
  --range-color: green;
  font-size: 16px;
}

body {
  padding: 3vw;
  /* height: 100vh;  */
  /* 100% of viewport instead of parent */
  background-color: white;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  background-color: white;
  padding: 5%;
  border-radius: 10px;
  /* box-shadow: 0px 8px 15px var(--shadow-color); */
}

form > h1 {
  text-align: center;
  margin: 5% 0%;
  font-size: 1.5rem;
}

button {
  width: 100%;
  margin: 10% 0%;
  padding: 2%;
  border: none;
  background-color: goldenrod;
  border-radius: 10px;
  box-shadow: 0px 4px 10px var(--shadow-color);
  text-transform: uppercase;
}

button:focus {
  outline: none;
}

.form-field {
  margin: 8% 0%;
  position: relative;
}

.form-field > input {
  width: 100%;
  border-radius: 4px;
  font-size: 1rem;
  border: 1px solid var(--placeholder-color);
  padding: 3%;
}

.form-field > input:focus {
  background-color: white;
  outline: none;
  border: 2px solid var(--focus-color);
  caret-color: var(--focus-color);
}

.form-field > input.error:focus {
  color: black;
  border: 2px solid var(--error-color);
  caret-color: var(--error-color); 
}

.form-field > input.error {
  color: black;
  border: 1px solid var(--error-color);
}

.form-field > input.error:focus + label {
  bottom: 85%;
  color: var(--error-color);
}

.form-field > label {
  position: absolute;
  left: 3%;
  font-size: 1rem;
  background-color: white;
  padding: 0% 1%;
}

.label-placeholder {
  color: var(--placeholder-color);
}

.form-field > input:focus + label {
  bottom: 85%;
  color: var(--focus-color);
}

.empty-field {
  bottom: 50%;
}

.filled-field {
  bottom: 85%;
}


small {
  margin-top: 2%;
  visibility: hidden;
  display: block;
}

.error {
  color: var(--error-color);
}

.invalid {
  border: 1px solid var(--error-color);
}

.exclamation-icon {
  background-color: var(--error-color);
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  width: 1%;
  height: 1%;
  padding: 3%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  bottom: 50%;
  visibility: hidden;
}

.error-visible{
  visibility: visible;
}

input[type="range"]{
  width: 60%;
  margin: 2% 0%;
}

#experience-container{
  margin: 10% 0%;
}

#range-value{
  visibility: visible;
  display: inline-block;
  font-size: 1rem;
  margin: 0% 5%;
  color: var(--range-color);
  font-weight: 400;
}

#range-control-row{
  display: flex;
  align-items: center;
}

#terms-services{
  margin-top: 5%;
}

#terms-services-text{
  color:blue;
  text-decoration: underline;
}

.toggle-img{
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  right: 0.5rem;
  top: 0.3rem;
}
