/*Mobile Landscape*/

@media only screen and (min-width: 576px) and (orientation: landscape) {

  body{
    background-color: #2B3137;
    padding: 12vw;
  }

  :root {
    --shadow-color: rgba(0, 0, 0, 0.2);
    --focus-color: #03A9F4;
    --green-color: #2EBC4f;
  }

  form {
    background-color: whitesmoke;
    padding: 1% 4%;
  }

  .form-field{
    margin: 3% 0%;
  }

  form > h1 {
    font-size: 1.2rem;
  }

  .form-field > input {
    font-size: 0.9rem;
    padding: 2%;
    background-color: whitesmoke;
  }

  .form-field > label {
    left: 2%;
    font-size: 0.9rem;
    padding: 0% 1%;
    background-color: whitesmoke;
  }

  .form-field > input:focus + label {
    background-color: whitesmoke;
  }

  .form-field > input:focus {
    background-color: whitesmoke;
  }

  .filled-field {
    background-color: whitesmoke;
  }

  p {
    font-size: 0.8rem;
  }

  .toggle-img{
    width: 1.5rem;
    height: 1.5rem;
    right: 1rem;
    top: 0.4rem;
  }
  
  button {
    background-color: var(--green-color);
    color: white;
    margin: 5% 0%;
  }

  button:disabled{
    opacity: 0.8;
  }

  small {
    margin: 1% 0%;
  }

  .exclamation-icon {
    font-size: 1.5rem;
    right: 2%;
  }

  #range-value{
    color: var(--green-color);
    font-size: 1rem;
  }

  #experience-container{
    margin: 4% 0%;
    font-size: 0.9rem;
  }

  #terms-services{
   font-size: 0.9rem;
   margin-top: 2%;
  }

}

/*Tablet portrait*/

@media only screen and (min-width: 768px) and (orientation: portrait) {
  
  body{
    padding: 6vw 4vh;
    background-color: #333333;
  }

  form {
    padding: 1% 4%;
  }

  form > h1 {
    margin: 3% 0%;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
  }

  p{
    font-size: 1.2rem;
  }

  .form-field{
    margin: 3% 0%;
  }

  .form-field > input {
    font-size: 1.2rem;
  }

  .form-field > label {
    font-size: 1.2rem;
  }

  #experience-container{
    margin: 4% 0%;
    font-size: 0.9rem;
  }

  #terms-services{
   font-size: 0.9rem;
   margin-top: 2%;
  }

  small {
    margin: 1% 0%;
  }

  .exclamation-icon {
    font-size: 1.5rem;
    right: 1%;
    top: 0.8rem;
  }

  .toggle-img{
    width: 2rem;
    height: 2rem;
    right: 1.5rem;
    top: 0.7rem;
  }

  #range-value{
    color: blue ;
    font-size: 1.3rem;
  }

  #experience-container{
    margin: 4% 0%;
    font-size: 1.3rem;
  }

  #terms-services{
   font-size: 1.3rem;
   margin: 2%;
   display: flex;
   justify-content: center;
  }

  .error{
    font-size: 1rem;
  }

  button{
    margin: 5% 0%;
    font-size: 1rem;
  }

}

/* Tablet landscape */

@media only screen and (min-width: 1024px) and (orientation: landscape) {
  
  body{
    padding: 3vw;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form {
    padding: 1% 4%;
    width: 60%;
  }

  form > h1 {
    margin: 2% 0%;
    font-size: 1.7rem;
  }

  .form-field{
    margin: 1% 0%;
  }

}

/* Laptop */

@media only screen and (min-width: 1200px) {
  
  body{
    padding: 2vw;
  }
  
  form {
    width: 38%;
    padding: 2% 4%;
  }

  .exclamation-icon {
    font-size: 1rem;
    right: 2%;
    top: 10%;
  }

  .toggle-img{
    right: 2%;
  }

}