* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  font-size: 16px;
  --button-color: red;
  --label-red-color: rgba(255, 0, 0, 0.7);
  --nes-color: ghostwhite;
  --pad-margin-config: 2px solid var(--nes-color);
}

body {
  height: 100vh;
  background-color: var(--nes-color);
  padding: 5vw;
}

main {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 60%;
}

.button-square {
  background-color: var(--nes-color);
  border-radius: 10px;
  padding: 4%;
  width: 40%;
  height: 40%;
  align-items: center;
}

.button-controller {
  border-radius: 50%;
  background-color: var(--button-color);
  display: block;
  width: 70%;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 25%;
  width: 100%;
  margin: 10% 0%;
}

.label-design {
  height: 100%;
  border-radius: 10px;
  width: 10%;
  display: block;
}

#red-label {
  background-color: var(--label-red-color);
}

#select-start-container {
  height: 40%;
  width: 100%;
}

.responsive-img {
  max-width: 100%;
  max-height: 100%;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pad-container {
  height: 25%;
  width: 100%;
  align-items: center;
  padding: 5% 0%;
}

.pad-arrow {
  background-color: black;
  height: 30%;
  width: 10%;
}

.pad-arrow-horizontal-container {
  width: 30%;
  height: 30%;
  display: flex;
}

.pad-arrow-horizontal {
  background-color: black;
  flex-grow: 1;
  height: 100%;
}

#up-arrow-border {
  border-top: var(--pad-margin-config);
  border-left: var(--pad-margin-config);
  border-right: var(--pad-margin-config);
}

#down-arrow-border {
  border-bottom: var(--pad-margin-config);
  border-left: var(--pad-margin-config);
  border-right: var(--pad-margin-config);
}

#left-arrow-border {
  border-top: var(--pad-margin-config);
  border-bottom: var(--pad-margin-config);
  border-left: var(--pad-margin-config);
}

#right-arrow-border {
  border-top: var(--pad-margin-config);
  border-bottom: var(--pad-margin-config);
  border-right: var(--pad-margin-config);
}

input {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  text-align: center;
  margin-top: 1%;
}