/*Mobile Landscape*/

@media only screen and (min-width: 576px) and (orientation: landscape) {
  body {
    padding: 3vh;
    width: 100vw;
  }

  main {
    flex-direction: row;
    width: 100%;
    padding: 4%;
  }

  #pad-container {
    height: 100%;
    width: 20%;
  }

  .pad-arrow {
    width: 30%;
    height: 15%;
  }

  .pad-arrow-horizontal-container {
    width: 90%;
    height: 15%;
  }

  #select-start-container {
    height: 100%;
    width: 50%;
  }

  .row {
    flex-direction: column-reverse;
    height: 100%;
    width: 20%;
    margin: 0%;
  }

  #button-container {
    flex-direction: row;
    height: 60%;
    width: 100%;
    align-items: flex-end;
  }

  .button-square {
    width: 40%;
    height: 30%;
  }

  .button-controller {
    width: 80%;
    height: 70%;
  }

  .label-design {
    height: 10%;
    width: 100%;
  }
}

/*Tablet portrait*/

@media only screen and (min-width: 768px) and (orientation: portrait) {
  body {
    padding: 3vw;
  }

  .pad-arrow-horizontal-container {
    width: 27%;
  }

  .row {
    margin: 5% 0%;
  }

  .button-square {
    width: 30%;
  }

  input{
    font-size: 2rem;
  }

}

/* Tablet landscape */

@media only screen and (min-width: 1024px) and (orientation: landscape) {
  #pad-container {
    padding: 0%;
  }

  .pad-arrow {
    width: 30%;
    height: 10%;
  }

  .pad-arrow-horizontal-container {
    width: 85%;
    height: 10%;
  }

  .row {
    justify-content: space-between;
  }

  .button-square {
    width: 35%;
    height: 25%;
  }

  .button-controller {
    width: 70%;
    height: 60%;
  }

  input{
    margin-top: 10%;
    font-size: 2.5rem;
  }

}

/* Laptop */

@media only screen and (min-width: 1200px) {
  .pad-arrow {
    width: 25%;
    height: 10%;
  }

  .pad-arrow-horizontal-container {
    width: 75%;
    height: 10%;
  }

  input{
    display: none;
  }

}
